::ng-deep{
  .mat-mdc-text-field-wrapper{
    background: #ffffff !important;
    border-radius: 3px !important;
    box-shadow: 0px 0px 10px 0px #00000026;
  }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__element{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px;
      background-color:rgb(153, 204, 255);
    }

    &__swap_wrapper{
      margin: 10px;
    }

    &__swap-button{
      border: none;
      background: none;
      box-shadow: 0px 0px 10px 0px #00000026;
      border-radius: 100px;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      &:hover{
        box-shadow: 0px 0px 30px 0px #00000026;
        transform: scale(1.01);
        cursor: pointer;
      }
      &:disabled{
        background: rgba(255, 0, 0, 0.53);
        cursor: not-allowed;
      }
    }

    @media (max-width: 700px) {
        .main{
          &__wrapper{
            flex-direction: column;
          }
        }
      }
  }